<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WsAdminV2Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="WsAdminV2Binding1" />
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="https://api.five9.com/wsadmin/v2/AdminWebService"
                binding="basicHttpBinding" bindingConfiguration="WsAdminV2Binding"
                contract="Five9Admin.WsAdminV2" name="WsAdminPortV2" />
        </client>
    </system.serviceModel>
</configuration>